:root {
    --bg: #fff;
    --text: #000;
    --card: #eee;
}

body.dark {
    --bg: #121212;
    --text: #fff;
    --card: #1e1e1e;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 15px;
    background: var(--card);
    color: var(--text);
}